.body{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100%;
background-color: #9D9D9D;
}

.centerbody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 185px;
    left: 320px;
    width: 624px;
    height: 391px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
}

#image{
    margin-top: 45px;
   padding: 25px;
    top: 237px;
    left: 373px;
    width: 245px;
    height: 245px;
}

.belowImage{
    display: flex;
    margin-left: 50px;
letter-spacing: 0px;
color: #0A0102;
text-transform: uppercase;
opacity: 1;
}

.imageandform{

    display: flex;
    justify-content: space-between;
}

.form{
    top: 166px;
left: 658px;
width: 389px;
height: 425px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #00000029;
border: 1px solid #E4E4E4;
border-radius: 6px;
opacity: 1;
}

.Change{
    display: flex;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SignUp{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Email{
    width: 200px;
}

.ForgetPassword{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
}

.MuiButton-containedSecondary{
    width: 200px;
}

.OtherLogin{

    display: flex;
    justify-content: space-between;
}

.General{
    font-family: Roboto;
    font-size: 15px;
    color: #0A0102;
    display: flex;
    justify-content: flex-start;
    width: 200px;
}

@media screen and (max-width:500px){

    .centerbody{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        top: 185px;
        left: 320px;
        width: 350px;
        height: 391px;
        border-radius: 21px;
        opacity: 1;
    }    

#image{
    display: none;
}

.belowImage{
    display: none;
}

}