
.row{
    display: flex;
}

input{
    margin-left: 5px;
    height: 12px;
    width: 25px;
}

.DeleteIcon{
    margin-left: 180px;
}

.quantity {
    font: normal normal normal 14px/19px Roboto;
}

.Cart{
    width: 750px;
    padding: 15px;
    border: 1px solid #cfcfcf;
}

.heading{
    font-size: 20px;
    font-family: revert;
}

.Paper2{
    width: 100px;
    margin-left: 90px;
}

.cartitems{
    display: flex;
}

.PlaceOrder{
    margin-top: auto;
    margin-left: auto;
}

#quantity{
    width: 30px;
}

.Details{
    width: 750px;
    height: 20px;
    padding: 15px;
    border: 1px solid #cfcfcf;
}

.openDetails{
    width: 730px;
    height: 300px;
    padding: 25px;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
}


.Body2{
    top: 0px;
left: 0px;
min-height: 1216px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
margin-left: 174px;
display: flex;
flex-direction: column;
}

.takeinput{
    display: flex;
    flex-direction: column;
}

.giveinput{
    display: flex;
    justify-content: space-around;
    margin-right: 132px;
}

.a{
    height: 50px;
}



.left{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.b{
    margin-left: 30px;
    padding: 10px;
}

.Place{
    margin-left: 500px;
}