
.row{
    display: flex;
}

input{
    margin-left: 5px;
    height: 12px;
    width: 25px;
}

.DeleteIcon{
    margin-left: 180px;
}

.quantity {
    font: normal normal normal 14px/19px Roboto;
}

.Cart{
    width: 62%;
    padding: 25px;
    border: 1px solid #cfcfcf;
}

.heading{
    font-size: 20px;
    font-family: revert;
}

.Paper2{
    width: 100px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cartitems{
    display: flex;

}

.PlaceOrder{
    display: flex;
    justify-content: flex-end;
}

#quantity{
    width: 30px;
}

.Details{
    width: 64%;
    height: 20px;
    padding: 15px;
    border: 1px solid #cfcfcf;
}

.openDetails{
    width: 62%;
    height: 300px;
    padding: 25px;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
}


.Body2{
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
padding-left: 10%;
display: flex;
flex-direction: column;
}

.takeinput{
    display: flex;
    flex-direction: column;
}

.giveinput{
    display: flex;
    justify-content: space-around;
    margin-right: 132px;
}

.a{
    height: 50px;
}

.space1{
    height: 20px;
}

.left{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.b{
    margin-left: 37px;
    padding: 10px;
}

.Place{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}

#image2{
    margin-top: 10px;
    width: 109px;
    height: 135px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    }