header{
    display: flex;
    align-items: center;
height: 60px;
background: #A03037 0% 0% no-repeat padding-box;
opacity: 1;
}

.MenuBookSharpIcon{
    color: white;
    margin-left: 163px;
}


.inputbase{
    display: flex;
    margin-left: 100px;
    top: 14px;
left: 334px;
width: 490px;
height: 33px;
background: #FCFCFC 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
}

.searchIcon{

    margin-top: 4px;
    top: 24px;
left: 348px;
width: 13px;
height: 13px;
color: #9D9D9D;
opacity: 1;
}

.PersonOutlineOutlinedIcon{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: white;
}

.MuiBadge-anchorOriginTopRightRectangle{
    border: 1px solid white;
}

.x{
    position: relative;
}

.y{
    position: absolute;
}

.menulist .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    top: 10% !important;
     left: 72% !important;
}


.menulist2 .MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded{
    top: 8% !important;
     left: 28% !important;
     width: 490px;
}

.insidemenu2{
    display: flex;
    justify-content: center;
    font: normal normal medium 12px/16px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
}

.buttonsize2{
width: 118px;
background-color: white !important;
}

.buttonsize2 .MuiButton-label {
    border: 1px solid #A03037 !important;
    border-radius: 0px !important;
}

@media screen and (max-width: 600px){

    .MenuBookSharpIcon{
        color: white;
        margin-left: 0px;
    }
    
    
    .inputbase{
        display: flex;
        margin-left: 40px;
        margin-right: 30px;
        top: 14px;
    left: 334px;
    width: 490px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    }

    .PersonOutlineOutlinedIcon{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        color: white;
    }
    
    
    
}