
footer{
    top: 1166px;
left: 0px;
width: 100%;
height: 50px;
background: #2E1D1E 0% 0% no-repeat padding-box;
opacity: 1;
}


.text{
    color: white;
    margin-left: 163px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-right: 200px;
}

@media screen and (max-width: 600px){
    
footer{
    top: 1166px;
left: 0px;
width: 100%;
height: 150px;
background: #2E1D1E 0% 0% no-repeat padding-box;
opacity: 1;
}
}