header{
    display: flex;
    align-items: center;
    top: 0px;
left: 0px;
width: 100%;
height: 60px;
background: #A03037 0% 0% no-repeat padding-box;
opacity: 1;
}

.MenuBookSharpIcon{
    color: white;
    margin-left: 163px;
}

.Name{
    top: 17px;
left: 201px;
width: 91px;
height: 26px;
margin-left: 5px;
    text-align: left;
font: normal normal normal 20px/26px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 1;
}

.Body{
    top: 0px;
left: 0px;
max-height: 1216px;
min-height: 83vh;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
margin-left: 174px;
}

.Title{
    top: 82px;
left: 174px;
width: 70px;
height: 33px;
text-align: left;
font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
}


.img{
    background: #F5F5F5 0% 0% no-repeat padding-box ;
    top: 145px;
left: 171px;
width: 235px;
height: 153px;
}

#image2{
margin-left: 60px;
margin-top: 10px;
width: 109px;
height: 135px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;
}

.paper{

    width: 235px;
height: 265px;
background: white 0% 0% no-repeat padding-box;
border: 1px solid #E2E2E2;
border-radius: 3px;
opacity: 1;
margin: 5px;
}

.Intro{
    padding: 10px;
}

.bookName{

    top: 327px;
left: 191px;
width: 130px;
height: 19px;
text-align: left;
font: normal normal normal 14px/19px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
}

.by{
    top: 349px;
left: 191px;
width: 100px;
height: 13px;
text-align: left;
font: normal normal normal 10px/13px Roboto;
letter-spacing: 0px;
color: #878787;
opacity: 1;
}

.rating{
    display: flex;
    top: 367px;
left: 191px;
width: 33px;
height: 16px;
background: #388E3C 0% 0% no-repeat padding-box;
border-radius: 1px;
opacity: 1;

text-align: left;
font: normal normal bold 10px/13px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.number{
    margin-left: 24px;
    top: 367px;
left: 228px;
width: 18px;
height: 13px;
text-align: left;
font: normal normal normal 10px/13px Roboto;
letter-spacing: 0px;
color: #878787;
opacity: 1;
}

.price{
    top: 388px;
left: 191px;
width: 48px;
height: 16px;

text-align: left;
font: normal normal bold 12px/16px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
}

.inputbase{
    display: flex;
    margin-left: 100px;
    top: 14px;
left: 334px;
width: 490px;
height: 33px;
background: #FCFCFC 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
}

.searchIcon{

    margin-top: 4px;
    top: 24px;
left: 348px;
width: 13px;
height: 13px;
color: #9D9D9D;
opacity: 1;
}

.MuiInputBase-root {
    margin-left: 10px;
}

.MuiButton-label{
    font-size: 12px;
}

.PersonOutlineOutlinedIcon{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    color: white;
}

.ShoppingCartIcon{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
}

.Style{
    top: 41px;
left: 1059px;
width: 40px;
height: 13px;
text-align: left;
font: normal normal normal 10px/13px Roboto;
letter-spacing: 0.45px;
color: #FFFFFF;
opacity: 1;
}

footer{
    top: 1166px;
left: 0px;
width: 100%;
height: 50px;
background: #2E1D1E 0% 0% no-repeat padding-box;
opacity: 1;
}
.text{
    color: white;
    margin-left: 163px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-right: 200px;
}

.bookbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonsize{
    width: 100px;
}





.x{
    position: relative;
}

.y{
    position: absolute;
}